.rowFlex{background-color: beige;}
.paddingTB{padding-top: 50px;padding-bottom: 50px;}
.footerBg{background-color: gainsboro;}
.footerBg h3 {color: black; text-align: center;}
.col-lg-12,.col-lg-6{padding-right: 0;padding-left: 0;}
.paddingT{padding-top: 50px;}
.centrar{text-align: center;}
.paddingLR{padding-left: 10px; padding-right: 10px;}
.ico_foo{transition:1s;}
.ico_foo:hover{transform: translateY(-10px);cursor: pointer;}
.redesSociales{transition: 1s;}
.redesSociales:hover{color: blue; cursor: pointer;}
.remove-bg{filter: brightness(1.1);}
